{% extends 'RXBundle::base.html.twig' %}

{% block body %}
    <h4>Koszyk</h4>
    {{ form_start(form, {'action': path('cart-index'), 'method': 'POST'}) }}
    {% if (form.product.vars.choices is empty) %}
        Twój koszyk jest pusty
    {% endif %}
    {{ form_errors(form) }}

    {{ form_end(form) }}

    <strong>Do zapłaty:</strong>

    {% if (summary is empty) %}
        0 {{ constant('\\RXBundle\\Entity\\Product::CURRENCY') }}
    {% endif %}

    {% for key, val in summary %}
        <p> {{ val }} {{ constant('\\RXBundle\\Entity\\Product::CURRENCY') }} (vat {{ key }}%)</p>
    {% endfor %}

    <script type="text/javascript">
        jQuery(document).ready(function () {
            $('#form_submit').hide();

            $collectionHolder = $('#form_product');

            $collectionHolder.find('.checkbox').each(function () {
                $('#form_submit').show();

                return;
            });
        });
    </script>

{% endblock %}
