{% extends 'RXBundle::base.html.twig' %}


{% block body %}
    <div class="row">
        <div class="col-md-8">
            <div class="widget-header">
                <div class="widget-content no-padding">
                    <div class="widget box">
                        <div class="widget-header">
                            <h4>
                                Lista produktów
                            </h4>
                        </div>

                        <div class="widget-content">
                            <ul>
                                {% for category in categories %}
                                    <li>{{ category.name }}</li>
                                    <ul>
                                        {% for product in category.products %}
                                            <li>{{ product.name }} <strong>({{ product.priceWithTax }} {{ constant('\\RXBundle\\Entity\\Product::CURRENCY') }}) </strong>
                                                <a href="{{ path('product-add', {'id': product.id}) }}">Kup</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div id="cart">
                {{ render(controller(
                'RXBundle:Cart:index'
                )) }}
            </div>
        </div>
    </div>
{% endblock %}